
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables / Secrets
.env
key.env
*.env

# Database
*.db
*.log
*.sqlite3

# Logs
*.log

# OS
.DS_Store

# VSCode
.vscode/

# Cookies
cookies.txt
